{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobbot</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <link rel="shortcut icon" href="{% static "resume/images/bbot.png" %}">

       <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}" media="screen,projection"/>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

      <!-- Bootstrap core CSS -->
{#      <link href="{% static "hacks-to-code/css/bootstrap.css" %}" rel="stylesheet">#}
      <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
      <script src="{% static "home/js/jquery.min.js" %}"></script>
{#      <script src="{% static "hacks-to-code/js/bootstrap.js" %}"></script>#}
      <script type="text/javascript" src="{% static "home/js/smoothscroll.js" %}"></script>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <![endif]-->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
       <link href="{% static 'materialize/css/materialize.css' %}">
       <link href="{% static 'materialize/js/materialize.js' %}">
</head>
<body>

<div class="row">
    <div class="col s12 m10 offset-l1">
      <div class="card white light">
        <div class="card-content text-darken-1">
            <span style="float: left" class="card-title"><img src="{% static 'resume/images/bbot.png' %}" style="width: 40px; height: 40px"></span>
          <span style="float: left; margin-left: 12px; margin-top:6px " class="card-title">JobBot</span>
            <br>

            <br>
              <p style="float: left">Jobbot is a machine learning bot which I planed to make from scratch. It is a Bot which help all type of job applicants who use LinkedIn, AngelList or other platforms to search
          for jobs and want to keep track of these jobs. The purpose of this bot is to create and update and excel file ( maybe JSON) for you. </p>
            <br>
              <br>

        </div>
        <div class="card-action">
          <a href="https://github.com/kripanshu/JobBot"><i class="fab fa-github"></i>  GitHub Repository</a>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col s12 m10 offset-l1">
      <div class="card white darken-1">
        <div class="card-content dark-grey-text">
          <span class="card-title">Project Scope</span>
            <ul>
                <li>
                    The project scope is to convert this python application into machine learning bot.
                </li>
                <li>
                    Using Rule Based Natural Programming Language concept to apply on closed vocabulary of this job world.
                </li>
            </ul>

            <br>

             <span class="card-title">Project Current Status</span>
            <ul>
                <li>
                   Currently There is a python script which takes user credentials and use GMAIL API to access the emails and
                    gets all the job related emails from LinkedIn and Angel List ( For Now ).
                </li>

            </ul>

<br>
             <span class="card-title">Project Progress</span>
            <ul>
                <li>
              <div class="progress">
                  <div class="determinate" style="width: 40%"></div>
              </div>
                </li>
            </ul>

        </div>
      </div>
    </div>
  </div>


<br>
<div class="row">
    <div class="col s4 m10 offset-l5">
<div style="margin-left: 3%">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-red">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-yellow">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>

      <div class="spinner-layer spinner-green">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
     </div>

<h5 style="margin-left: 0;font-family: 'Fjalla One', sans-serif;">Still Developing</h5>

    </div>
</div>

</body>
</html>