certifi==2018.4.16
chardet==3.0.4
Django==1.11.15
django-bootstrap4==0.0.6
django-model-utils==3.0.0
django-tinymce4-lite==1.7.2
django-webpack-loader==0.5.0
idna==2.6
jsmin==2.2.2
jsonfield==2.0.2
node==0.9.22
npm==0.1.1
numpy==1.14.5
odict==1.6.2
optional-django==0.1.0
pandas==0.22.0
Pillow==5.2.0
plumber==1.5
psycopg2==2.7.5
psycopg2-binary==2.7.5
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
six==1.11.0
urllib3==1.22
zope.component==4.4.1
zope.deprecation==4.3.0
zope.event==4.3.0
zope.interface==4.5.0
zope.lifecycleevent==4.2.0
