certifi
chardet
Django
django-bootstrap4
django-model-utils
django-tinymce
django-webpack-loader
gunicorn
idna
jsmin
jsonfield
node
npm
numpy
odict
optional-django
pandas
Pillow
plumber
psycopg2
psycopg2-binary
python-dateutil
pytz
requests
six
urllib3
zope.component
zope.deprecation
zope.event
zope.interface
zope.lifecycleevent