{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <title>Kripanshu Bhargava</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'resume/css/main.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'resume/images/meicon.png' %}" />
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Satisfy" rel="stylesheet">
</head>

<body class="is-preload">

    <!-- Header -->
    <section id="header">
        <header class="major">
            <h1>Kripanshu Bhargava</h1>
             <p id= "typed"><span class="typed"></span></p>

            <br>

        </header>
        <div class="container">
            <ul class="actions special">
                <li><a href="#one" class="button primary scrolly">Begin</a></li>
            </ul>
        </div>
    </section>

    <!-- One -->
    <section id="one" class="main special">
        <div class="container">
{#            <span class="image fit primary"><img src="{% static 'resume/images/background1.jpg' %}" alt="" /></span>#}
            <div class="content">

                <header class="major">
                    <img src="{% static 'resume/images/me.jpg' %}" alt="Avatar" style="width:200px;  border-radius: 50%;">
                    <h2>Who I am</h2>
                </header>

                <p style="text-align: justify; text-justify: inter-word; font-family: 'Montserrat', sans-serif;">Student Software Developer and  Masters Student in Computer Science at the University of Texas at Dallas <a href="https://cs.utdallas.edu/" target="_blank"><img src="{% static 'home/img/icons/utd_logo.png' %}" style="width: 4%; height: 4%"></a>. Software Development Intern ( January 2018 - August 2018 ) at Harvard University <a href="https://www.seas.harvard.edu/" target="_blank"><img src="{% static 'home/img/icons/harvard_logo.png' %}" style="width: 2.5%; height: 2.5%"></a>. I am Looking for Full time opportunity in the field of Software Development / Machine Learning / DevOps. While I have a comprehensive
                    background in computer science, my emphasis is on software development and machine learning applications. I have specifically good coding skills with Java, Python and JavaScript.
                </p>
                <a style="border:thin;" href="{% static 'resume/SoftwareEngResume.pdf' %}" class="icon minor fa-download" download="KripanshuBhargavaResume.pdf">  Resume</a>
            </div>
            <a href="#two" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="main special">
        <div class="container">
{#            <span class="image fit primary"><img src="{% static 'resume/images/background1.jpg' %}" alt="" /></span>#}
            <div class="content">
                <header class="major">
                    <h2>Recent Work</h2>
                </header>

                <ul class="icons-grid" style="padding: 2%;">

                    <li>
                        <a href="{% url 'view_homepage' %}" target="_blank">
								<img src="{% static 'resume/images/Symbol.png' %}" style="width:40px; height:40px">

								<h3>Hacks To Code</h3>
                                      </a>
                        <p style="text-align: justify; text-justify: inter-word;font-family: 'Montserrat', sans-serif;">Personal Technical Blog where I write about Machine Learning, Statistical Learning, Data visualization and other topics</p>
                    </li>

                    <li>
                        <a href="{% url 'homepage' %}" target="_blank">
								<img src="{% static 'resume/images/bbot.png' %}" style="width:40px; height:40px">

								<h3>Job REPO Bot</h3>
                                </a>
                        <p style="text-align: justify; text-justify: inter-word;font-family: 'Montserrat', sans-serif;">Machine learning Bot which keeps track of your job applications on Gmail and automatically updates the record.</p>
                    </li>


                    <li>
                        <a href="http://2ravens.org/" target="_blank">
								<img src="{% static 'resume/images/2ravens.png' %}" style="width:40px; height:40px">
								<h3>Two Ravens</h3>
                                    </a>
                        <p style="text-align: justify; text-justify: inter-word;font-family: 'Montserrat', sans-serif;">TwoRavens is a graphical user interface for quantitative analysis that allows users to explore their data. I worked on this project at Harvard University. </p>
                    </li>


                    <li>
                        <a href="http://metadata.2ravens.org/" target="_blank">
								<span class="icon major fa-file-text"></span>
								<h3>Metadata Services</h3>
                                    </a>
                        <p style="text-align: justify; text-justify: inter-word;font-family: 'Montserrat', sans-serif;">REST API's Service to produce metadata for Two Ravens and Harvard Dataverse. I worked on this project during my internship at Harvard University. </p>
                    </li>

                    <hr>
                </ul>
            </div>
            <a href="#three" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Three -->
    <section id="three" class="main special">
        <div class="container">
{#            <span class="image fit primary"><img src="{% static 'resume/images/background1.jpg' %}" alt="" /></span>#}
            <div class="content" style="text-align: justify; text-justify:inter-word">
                <header class="major">
                    <h2>What I do</h2>
                </header>
                <p>
                    <h3>Software Development</h3>
                    <br/>
                    <h6> Programming Languages</h6>
                    <p style="font-family: 'Montserrat', sans-serif;">Java, Python, Javascript, C++, SQL | NoSQL, HTML5/CSS3
                    </p>

                        <h6>Technologies</h6>
                        <p style="font-family: 'Montserrat', sans-serif;"> Django, Spring Boot | Hibernate, MongoDb, Android, Docker</p>

                            <h3>Machine Learning</h3>
                            <br/>
                            <h6> Programming Languages</h6>
                            <p style="font-family: 'Montserrat', sans-serif;">R, Python</p>
                            <p>
                                <h6>Technologies</h6>
                                <p style="font-family: 'Montserrat', sans-serif;"> Tensorflow, Keras, Caret, Scikit-learn</p>

            </div>
            <a href="#four" class="goto-next scrolly">Next</a>
        </div>
    </section>

    <!-- Three -->
    <section id="four" class="main special">
        <div class="container">
{#            <span class="image fit primary"><img src="{% static 'resume/images/background1.jpg' %}" alt="" /></span>#}
            <div class="content" style="text-align: justify; text-justify:inter-word">
                <header class="major">
                    <h2>Certificates and Achievements</h2>
                </header>

                    <h3>Certificates</h3>
                    <br/>
                <h6>Visualize data with D3.js</h6>
                <span style="float: left;"><img src="{% static 'resume/images/udemy.png' %}" style="width:40px; height:40px">  </span>
                <span style="float: left;margin: 12px;"><a href="https://www.udemy.com/certificate/UC-KDNC6D33/">Udemy</a></span>
<br/>
                <br/>
                <h6>Angular4 Front To Back Course</h6>
                <span style="float: left;"><img src="{% static 'resume/images/udemy.png' %}" style="width:40px; height:40px">  </span>
                <span style="float: left;margin: 12px;"><a href="https://www.udemy.com/certificate/UC-FEYZPBL9/">Udemy</a></span>
<br/>
                <br/>
                <h6>Android Development</h6>
                <span style="float: left;"><img src="{% static 'resume/images/cdac-logo.png' %}" style="width:40px; height:40px">  </span>
                <span style="float: left;margin: 12px;"><a href="https://www.cdac.in/index.aspx?id=edu_acts_CertiCourseAndroidPgming">C-DAC</a></span>
 <br/>
                 <br/>
                <br/>
                <br/>
     <h3>Achievements</h3>
<br/>
                 <h5>Speaker at Dataverse Community Meeting 2018</h5>
                <span style="float: left;">Speaker at International Dataverse 2018 meeting conducted by Harvard University.
                    People from 14 countries and 5 continents showed up. Presented the metadata service project I did during my internship at Harvard University.
                    This service would be potentially used by several dataverse communities all over the world.</span>
                <span style="float: left;"><img src="{% static 'home/img/icons/harvard_logo.png' %}" style="width:40px; height:40px">  </span>
                <span style="float: left;margin: 12px;"><a href="https://projects.iq.harvard.edu/dcm2018">Davatverse Community Meeting 2018</a></span>
<br/>
            </div>
            <a href="#footer" class="goto-next scrolly">Next</a>
        </div>
    </section>



    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <form method="post" action="#">
                <div class="row gtr-uniform">
                    <div class="col-12 col-12-xsmall"><a href="mailto:kripanshubhargava@gmail.com" target="_top"><span class="icon minor fa-envelope"> kripanshubhargava@gmail.com</span></a></div>
                    <div class="col-12 col-12-xsmall"><a href=""> <span class="icon minor fa-phone-square"> 2147948730 </span></a></div>
                    <div class="col-12">
                        <ul class="icons">
                            <li>
                                <a href="https://www.linkedin.com/in/kripanshubhargava/" class="icon fa-linkedin" target="_blank">
	                <span class="label">Linked-In</span>
	              </a>
                            </li>
                            <li>
                                <a href="https://github.com/kripanshu" class="icon fa-github" target="_blank">
	                <span class="label">Github</span>
	              </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Kripanshubharga" class="icon fa-twitter" target="_blank">
	                <span class="label">Twitter</span>
	              </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/+Kripanshubhargava94" class="icon fa-google-plus" target="_blank">
	                <span class="label">Instagram</span>
	              </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <footer>
            <ul class="copyright">
                <a href="">
                    <p style="font-family: 'Satisfy', cursive; color: #004d40">&copy; KRIPANSHU BHARGAVA</p>
                </a>
            </ul>
        </footer>
    </section>

    <!-- Scripts -->
    <script src="{% static 'resume/js/jquery.min.js' %}"></script>
    <script src="{% static 'resume/js/jquery.scrollex.min.js' %}"></script>
    <script src="{% static 'resume/js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'resume/js/browser.min.js' %}"></script>
    <script src="{% static 'resume/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'resume/js/util.js' %}"></script>
    <script src="{% static 'resume/js/main.js' %}"></script>
    <script src="{% static 'resume/js/typed.js' %}"></script>



</body>

</html>




--------------------------------

{#<!doctype html>#}
{#<html lang="en">#}
{#   <head>#}
{#      <meta charset="utf-8">#}
{#      <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#      <meta name="description" content="">#}
{#      <meta name="author" content="">#}
{#      <link rel="shortcut icon" href="{% static "img/icons/icon_profile.png" %}">#}
{#      <title>Kripanshu Bhargava Resume</title>#}
{#      <!-- Bootstrap core CSS -->#}
{#      <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">#}
{#      <!-- Custom styles for this template -->#}
{#      <link href="{% static "css/main.css" %}" rel="stylesheet">#}
{#      <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">#}
{#      <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>#}
{#      <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>#}
{#      <script src="{% static "js/jquery.min.js" %}"></script>#}
{#      <script type="text/javascript" src="{% static "js/smoothscroll.js" %}"></script>#}
{#      <script src="{% static "js/Chart.js" %}"></script>#}
{#      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
{#      <!--[if lt IE 9]>#}
{#      <![endif]-->#}
{#   </head>#}
{#   <body data-spy="scroll" data-offset="0" data-target="#nav">#}
{#   <div id="section-topbar">#}
{##}
{#         <div id="topbar-inner">#}
{#            <div class="container">#}
{#               <div class="row">#}
{#                  <div class="dropdown">#}
{#                     <ul id="nav" class="nav">#}
{#                        <li class="menu-item"><a href="#about" title="About"><i class="icon-user"></i></a></li>#}
{#                        <li class="menu-item"><a href="#resume" title="Resume"><i class="icon-file"></i></a></li>#}
{#                        <li class="menu-item"><a  href="#work" title="Works"><i class="icon-briefcase"></i></a></li>#}
{#                        <li class="menu-item"><a  href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>#}
{#                         <li class="menu-item" style="float: right"><a  href="{% url 'view_homepage' %}" title="Contact"><img style="width: 25px; height: 25px" src="{% static "img/htc_icon.png" %}"></a></li>#}
{##}
{#                     </ul>#}
{#                     <!--/ uL#nav -->#}
{#                  </div>#}
{#                  <!-- /.dropdown -->#}
{#                  <div class="clear"></div>#}
{#               </div>#}
{#               <!--/.row -->#}
{#            </div>#}
{#            <!--/.container -->#}
{#            <div class="clear"></div>#}
{#         </div>#}
{#   </div>#}
{#         <!--/ #topbar-inner -->#}
{#   <nav class="navbar navbar-inverse">#}
{#  <div class="container-fluid">#}
{#    <div class="navbar-header">#}
{#      <a class="navbar-brand" href="#">WebSiteName</a>#}
{#    </div>#}
{#    <ul class="nav navbar-nav">#}
{#     <li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>#}
{#                        <li class="menu-item"><a href="#resume" title="Resume"><i class="icon-file"></i></a></li>#}
{#                        <li class="menu-item"><a href="#work" title="Works"><i class="icon-briefcase"></i></a></li>#}
{#                        <li class="menu-item"><a href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}
{##}
{#      <!--/ #section-topbar -->#}
{#      <div id="headerwrap">#}
{#         <div class="container">#}
{#            <div class="row centered">#}
{#               <div class="col-lg-12">#}
{#                  <h1>Kripanshu Bhargava</h1>#}
{#                  <h3>Computer Science Graduate at UTD <img style="width: 25px; height: 25px" src="{% static "img/icons/utd_logo.png" %}"> | Software Development Intern at Harvard <img style="width: 25px; height: 25px" src="{% static "img/icons/harvard_logo.png" %}"></h3>#}
{#               </div>#}
{#               <!--/.col-lg-12 -->#}
{#            </div>#}
{#            <!--/.row -->#}
{#         </div>#}
{#         <!--/.container -->#}
{#      </div>#}
{#      <!--/.#headerwrap -->#}
{#      <section id="about" name="about"></section>#}
{#      <div id="intro">#}
{#         <div class="container">#}
{#            <div class="row">#}
{#               <div class="col-lg-2 col-lg-offset-1">#}
{#                   <h5><b>ABOUT</b></h5>#}
{#               </div>#}
{#               <div class="col-lg-6">#}
{#                  <p>Software Development Intern at Harvard. Pursuing Masters in Computer Science at the University of Texas at Dallas. I am Looking for Full time opportunity in the field of Software Development/ Machine Learning/ DevOps. While I have a comprehensive background in computer science, my emphasis is on software development and machine learning applications. I have specifically good coding skills with Java, Python and JavaScript(Angular/d3/react/Django/Flask).#}
{#                  </p>#}
{#               </div>#}
{#               <div class="col-lg-3">#}
{#                  <p>#}
{#                     <a href="https://drive.google.com/open?id=0B-VW2eY2uWRBWFI1Ukw3YUVwY2M"><i class="icon-file"></i></a>#}
{#                     <sm>DOWNLOAD PDF</sm>#}
{#                  </p>#}
{#               </div>#}
{#            </div>#}
{#            <!--/.row -->#}
{#         </div>#}
{#         <!--/.container -->#}
{#      </div>#}
{#      <!--/ #intro -->#}
{#      <section id="resume" name="resume"></section>#}
{#      <!--EDUCATION DESCRIPTION -->#}
{#      <div class="container desc">#}
{#         <div class="row">#}
{#            <div class="col-lg-2 col-lg-offset-1">#}
{#               <h5><b>EDUCATION</b></h5>#}
{#            </div>#}
{#            <table class="table" style="border: none">#}
{#               <tbody>#}
{#                  <tr>#}
{#                     <td>#}
{#                        <div class="col-lg-8">#}
{#                           <p>#}
{#                              <t>MS Computer Science </t>#}
{#                              <br/>#}
{#                              The University of Texas at Dallas <br/>#}
{#                              <i>GPA : 3.52</i>#}
{#                           </p>#}
{#                        </div>#}
{#                     </td>#}
{#                     <td>#}
{#                        <div class="col-lg-8">#}
{#                           <p>#}
{#                              <sm>2016</sm>#}
{#                              <br/>#}
{##}
{#                                 <b><sm>DECEMBER 2018 <i>expected</i> </sm></b>#}
{##}
{#                           </p>#}
{#                        </div>#}
{#                     </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                     <td>#}
{#                        <div class="col-lg-8">#}
{#                           <p>#}
{#                              <t>B.Tech Information Technology</t>#}
{#                              <br/>#}
{#                              SRM University,Chennai <br/>#}
{#                              <i>GPA : 8.5</i>#}
{#                           </p>#}
{#                        </div>#}
{#                     </td>#}
{#                     <td>#}
{#                        <div class="col-lg-8">#}
{#                           <p>#}
{#                              <sm>2012-2016</sm>#}
{#                           </p>#}
{#                        </div>#}
{#                     </td>#}
{#                  </tr>#}
{#               </tbody>#}
{#            </table>#}
{#         </div>#}
{#         <!--/.row -->#}
{#         <br>#}
{#      </div>#}
{#      <!--/.container -->#}
{#      <!--WORK DESCRIPTION -->#}
{#      <div class="container desc">#}
{#         <div class="row">#}
{#            <div class="col-lg-2 col-lg-offset-1">#}
{#               <h5><b>WORK</b></h5>#}
{#            </div>#}
{#            <table class="table" style="border: none">#}
{#               <tbody>#}
{#                  <tr>#}
{#                     <td>#}
{#                        <div class="col-lg-10">#}
{#                           <p>#}
{#                              <t>Software Development Intern</t>#}
{#                              <br/>#}
{#                              <a href="https://www.seas.harvard.edu/" target="_blank"> Harvard University SEAS</a> <br/>#}
{#                           </p>#}
{#                           <p>#}
{#                              <more>#}
{#                                 Development of the TwoRavens software project for data exploration and analysis. This will involve developing user interfaces for data visualization and applying machine learning, and systems work on the architecture for data storage. In addition, Work with the Privacy Tools research group at CRCS.#}
{#                              </more>#}
{#                           </p>#}
{#                        </div>#}
{#                     </td>#}
{#                     <td>#}
{#                        <div class="col-lg-7">#}
{#                           <p>#}
{#                              <sm>JANUARY 2018 - MAY 2018</sm>#}
{#                           </p>#}
{#                           <br/>#}
{#                        </div>#}
{#                     </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                     <td>#}
{#                        <div class="col-lg-9">#}
{#                           <p>#}
{#                              <t>Student Software developer / Machine learning worker</t>#}
{#                              <br/>#}
{#                               <a href="https://cs.utdallas.edu/" target="_blank">The University of Texas at Dallas</a> <br/>#}
{#                           </p>#}
{#                           <p>#}
{#                              <more>To develop frontend components using Javascript( d3.js and integrate them using React.js), for the D3M project along with Two Raven Project. Moreover, to apply machine learning knowledge to D3M project (DARPA) for handling the events model according to the datasets. Mainly developing the pre processing, regression and Machine Learning models using R.</more>#}
{#                           </p>#}
{#                        </div>#}
{#                     </td>#}
{#                     <td>#}
{#                        <div class="col-lg-2">#}
{#                           <p>#}
{#                              <sm>MAY 2017 - DECEMBER 2017</sm>#}
{#                           </p>#}
{#                           <br/>#}
{#                        </div>#}
{#                     </td>#}
{#                  </tr>#}
{#                  <tr>#}
{#                     <td>#}
{#                        <div class="col-lg-8">#}
{#                           <p>#}
{#                              <t>Web / Application Designer - Freelancer</t>#}
{#                              <br/>#}
{#                               <a href="https://www.mckinsey.com/knowledge-network/gurugram" target="_blank">McKinsey & Company</a> <br/>#}
{#                           </p>#}
{#                           <p>#}
{#                              <more>Developed an android application for the company's client. The purpose of the application was to centralize the feedback and testimonial processing at one place so that it can be used as a marketing application.</more>#}
{#                           </p>#}
{#                        </div>#}
{#                     </td>#}
{#                     <td>#}
{#                        <div class="col-lg-3">#}
{#                           <p>#}
{#                              <sm>SEPTEMBER 2015 - DECEMBER 2015</sm>#}
{#                           </p>#}
{#                        </div>#}
{#                     </td>#}
{#                  </tr>#}
{#               </tbody>#}
{#            </table>#}
{#         </div>#}
{#         <!--/.row -->#}
{#         <br>#}
{#         <hr>#}
{#      </div>#}
{#      <!--/.container -->#}
{#      <!--AWARDS DESCRIPTION -->#}
{#      <div class="container desc">#}
{#         <div class="row">#}
{#            <div class="col-lg-2 col-lg-offset-1">#}
{#               <h5><b>GRADUATE COURSES</b></h5>#}
{#            </div>#}
{#             <table class="table" style="border: none">#}
{#               <tbody>#}
{#               <tr>#}
{#                   <td>#}
{#                       <div class="col-lg-10 ">#}
{#                           <t>Fall 2016</t>#}
{#                       </div>#}
{#                   </td>#}
{##}
{#                      <td> <p>Artificial Intelligence CS6364</p></td>#}
{##}
{#               <td><p>Machine Learning CS6375</p></td>#}
{#              <td> <p>Object-Oriented Analysis and Design CS6359</p></td>#}
{##}
{##}
{#               </tr>#}
{#               <tr>#}
{#                   <td>#}
{#                       <div class="col-lg-10 ">#}
{#                           <t>Spring 2017</t>#}
{#                       </div>#}
{#                   </td>#}
{##}
{#                   <td><p>Database Design CS6360</p></td>#}
{#                   <td><p>Human Computer Interactions CS6326</p></td>#}
{#                   <td><p>Statistical Methods for Data Science CS6313</p></td>#}
{##}
{#               </tr>#}
{#                <tr>#}
{#                   <td>#}
{#                       <div class="col-lg-10 ">#}
{#                           <t>Fall 2017</t>#}
{#                       </div>#}
{#                   </td>#}
{##}
{#                   <td><p>Web Programming Languages CS 6314</p></td>#}
{#                   <td><p>Semantic Web CS 6315</p></td>#}
{#                   <td><p>Design and Analysis- Computer Algorithms CS 6363</p></td>#}
{##}
{#               </tr>#}
{##}
{#               </tbody>#}
{#             </table>#}
{##}
{##}
{#         </div>#}
{#      </div>#}
{#      <!--/.row -->#}
{#      <br>#}
{#      </div><!--/.container -->#}
{#      <div id="skillswrap">#}
{#         <div class="container">#}
{#            <div class="row">#}
{#               <div class="col-lg-2 col-lg-offset-1">#}
{#                  <h5>SKILLS</h5>#}
{#               </div>#}
{#               <div class="col-lg-3 centered">#}
{#                  <canvas id="javascript" height="130" width="130"></canvas>#}
{#                  <p>Java(core,spring and hibernate,swing)</p>#}
{#                  <br>#}
{#                  <script>#}
{#                     var doughnutData = [#}
{#                         {#}
{#                             value: 85,#}
{#                             color:"#FFA726"#}
{#                         },#}
{#                         {#}
{#                             value : 15,#}
{#                             color : "#ecf0f1"#}
{#                         }#}
{#                     ];#}
{#                     var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);#}
{#                  </script>#}
{#               </div>#}
{#               <div class="col-lg-3 centered">#}
{#                  <canvas id="bootstrap" height="130" width="130"></canvas>#}
{#                  <p>C++</p>#}
{#                  <br>#}
{#                  <script>#}
{#                     var doughnutData = [#}
{#                         {#}
{#                             value: 80,#}
{#                             color:"#FFA726"#}
{#                         },#}
{#                         {#}
{#                             value : 20,#}
{#                             color : "#ecf0f1"#}
{#                         }#}
{#                     ];#}
{#                     var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);#}
{#                  </script>#}
{#               </div>#}
{#               <div class="col-lg-3 centered">#}
{#                  <canvas id="wordpress" height="130" width="130"></canvas>#}
{#                  <p>JavaScript(React,d3,angular)</p>#}
{#                  <br>#}
{#                  <script>#}
{#                     var doughnutData = [#}
{#                         {#}
{#                             value: 75,#}
{#                             color:"#FFA726"#}
{#                         },#}
{#                         {#}
{#                             value : 25,#}
{#                             color : "#ecf0f1"#}
{#                         }#}
{#                     ];#}
{#                     var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);#}
{#                  </script>#}
{#               </div>#}
{#               <div class="col-lg-3 col-lg-offset-3 centered">#}
{#                  <canvas id="html" height="130" width="130"></canvas>#}
{#                  <p>HTML/CSS</p>#}
{#                  <br>#}
{#                  <script>#}
{#                     var doughnutData = [#}
{#                         {#}
{#                             value: 80,#}
{#                             color:"#FFA726"#}
{#                         },#}
{#                         {#}
{#                             value : 20,#}
{#                             color : "#ecf0f1"#}
{#                         }#}
{#                     ];#}
{#                     var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);#}
{#                  </script>#}
{#               </div>#}
{#               <div class="col-lg-3 centered">#}
{#                  <canvas id="photoshop" height="130" width="130"></canvas>#}
{#                  <p>Python</p>#}
{#                  <br>#}
{#                  <script>#}
{#                     var doughnutData = [#}
{#                         {#}
{#                             value: 70,#}
{#                             color:"#FFA726"#}
{#                         },#}
{#                         {#}
{#                             value : 30,#}
{#                             color : "#ecf0f1"#}
{#                         }#}
{#                     ];#}
{#                     var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);#}
{#                  </script>#}
{#               </div>#}
{#               <div class="col-lg-3 centered">#}
{#                  <canvas id="illustrator" height="130" width="130"></canvas>#}
{#                  <p>Machine Learning (R,Keras,scikit-learn,TensorFlow,caret)</p>#}
{#                  <br>#}
{#                  <script>#}
{#                     var doughnutData = [#}
{#                         {#}
{#                             value: 60,#}
{#                             color:"#FFA726"#}
{#                         },#}
{#                         {#}
{#                             value : 40,#}
{#                             color : "#ecf0f1"#}
{#                         }#}
{#                     ];#}
{#                     var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);#}
{#                  </script>#}
{#               </div>#}
{#            </div>#}
{#            <!--/.row -->#}
{#            <br>#}
{#         </div>#}
{#         <!--/.container -->#}
{#      </div>#}
{#      <!--/ #skillswrap -->#}
{#      <section id="work" name="work"></section>#}
{#      <!--PORTFOLIO DESCRIPTION -->#}
{#      <div class="container desc">#}
{#         <div class="row">#}
{#            <div class="col-lg-2 col-lg-offset-1">#}
{#               <h5><b>PROJECTS</b></h5>#}
{#            </div>#}
{#            <table class="table" style="border: thin">#}
{#               <tbody>#}
{#               <tr style="border: none">#}
{#                   <td > Two Ravens<a href="http://2ravens.org/"><i class="icon-tag"></i></a></td>#}
{#                   <td >Metadata Services<a href="http://metadata.2ravens.org/"><i class="icon-tag"></i></a></td>#}
{##}
{#               </tr>#}
{#               <tr style="border: none">#}
{#                   <td style="border: none"><img style="width: 20%; height: 20%" src="{% static "img/TwoRavens.png" %}"></td>#}
{#                   <td style="border: none"><img style="width: 40%; height: 60%" src="{% static "img/harvard_dataverse.png" %}"></td>#}
{##}
{#               </tr>#}
{#               <tr style="border: none">#}
{#                   <td style="border: none; width: 50%"><more>To develop frontend components using Javascript( d3.js and integrate them using React.js), for the D3M project along with Two Raven Project. Moreover, to apply machine learning knowledge to D3M project (DARPA) for handling the events model according to the datasets. Mainly developing the pre processing, regression and Machine Learning models using R.<br/><br/>#}
{#                    <a href="https://github.com/TwoRavens/TwoRavens"><i class="icon-tag"></i> Machine Learning | Web development</a>#}
{#                 </more></td>#}
{#                   <td style="border: none; width: 50%"><more>To develop a python script to produce a metadata file from the data. This python script is based on a data classification design. Later developing an API endpoint to produce the service for it.<br/><br/>#}
{#                    <a href="https://github.com/TwoRavens/raven-metadata-service"><i class="icon-tag"></i> Python | API Development</a>#}
{#                 </more></td>#}
{##}
{#               </tr>#}
{#               <br/>#}
{#               <br/>#}
{#               <tr style="border: none">#}
{#                   <td >Banking Analytics<a><i class="icon-tag"></i></a></td>#}
{#                   <td >Gift Registry<a href="https://github.com/kripanshu/Gift-Registry"><i class="icon-tag"></i></a></td>#}
{##}
{#               </tr>#}
{#               <tr style="border: none">#}
{#                   <td style="border: none"><img style="width: 30%; height: 30%" src="{% static "img/banking_analytics.png" %}"></td>#}
{#                   <td style="border: none"><img style="width: 40%; height: 50%" src="{% static "img/gift-registry.png" %}"></td>#}
{##}
{#               </tr>#}
{#               <tr style="border: none">#}
{#                   <td style="border: none ;width: 50%"><more>Developed an artificial neural network to determine whether the customer closes the account or leave the bank on the basis of certain features such as account period, money withdrawn, number of transactions, age etc. Technologies used were (R, Python, Keras-Library, Regression techniques).<br/><br/>#}
{#                    <a><i class="icon-tag"></i> Machine Learning</a>#}
{#                 </more></td>#}
{#                   <td style="border: none; width: 50%"><more>Developed a responsive Web application for gift registry with properly working database and smart front end. User can create, share, give access, delete, add items to his registry. Multiple registries- Multiple Users responsive web application.<br/><br/>#}
{#                    <a href="https://github.com/kripanshu/Gift-Registry"><i class="icon-tag"></i> JAVA-SPRING AND HIBERNATE | MYSQL | ANGULAR4</a>#}
{#                 </more></td>#}
{##}
{#               </tr>#}
{#               </tbody>#}
{#            </table>#}
{#         </div>#}
{#         <!--/.row -->#}
{#         <br>#}
{#         <br>#}
{#         <hr>#}
{#      </div>#}
{#      <!--/.container -->#}
{#      <div class="container desc1">#}
{#         <div class="row">#}
{#            <div class="col-lg-3 col-lg-offset-1">#}
{#               <h5><b><t>CERTIFICATES</t></b></h5>#}
{#            </div>#}
{#           <table class="table" style="border: thin">#}
{#               <tbody>#}
{#                <tr style="border: none">#}
{#                   <td>#}
{#                       <div class="col-lg-10">#}
{#                       <more >Data Visualize Data with D3.js<a href="https://www.udemy.com/certificate/UC-KDNC6D33/"><i class="icon-tag"></i></a></more>#}
{#                          <br/>#}
{#                           <br/><more><i>This Learning to Visualize Data with D3.js training course from Infinite Skills teaches you how to build data visualizations with the D3 JavaScript library. This course is designed for users that already have some HTML, CSS, and JavaScript programming experience  </i></more>#}
{#                           </div>#}
{#                   </td>#}
{#                    <td>#}
{#                        <img style="width: 40%; height: 4%" src="{% static "img/certi.jpg" %}" alt="">#}
{#                    </td>#}
{#                </tr>#}
{#                <tr style="border: none">#}
{#                    <td style="width: 70%">#}
{#                        <div class="col-lg-10">#}
{#                       <more >Angular Front To Back<a href="https://www.udemy.com/certificate/UC-FEYZPBL9/"><i class="icon-tag"></i></a></more>#}
{#                          <br/>#}
{#                           <br/><more><i>Master Angular 5 from the basics to building an advanced application with Firebase's Firestore as well as authentication</i></more>#}
{##}
{#                            </div>#}
{#                   </td>#}
{#                    <td>#}
{#                        <img style="width: 40%; height: 12%"src="{% static "img/angular_certificate.jpg" %}" alt="">#}
{#                    </td>#}
{#                </tr>#}
{#               </tbody>#}
{#           </table>#}
{#         </div>#}
{#      </div>#}
{#      <section id="contact" name="contact"></section>#}
{#      <!--FOOTER DESCRIPTION -->#}
{#      <div id="footwrap">#}
{#         <div class="container">#}
{#            <div class="row">#}
{#               <div class="col-lg-2 col-lg-offset-1">#}
{#                  <h5><b>CONTACT</b></h5>#}
{#               </div>#}
{#               <div class="col-lg-6">#}
{#                  <p>#}
{#                     <t>Email</t>#}
{#                     <br/>#}
{#                     kripanshubhargava@gmail.com<br/>#}
{#                  </p>#}
{#                  <p>#}
{#                     <t>Adress</t>#}
{#                     <br/>#}
{#                     7575 Frankford Road <br/>#}
{#                     #3414 <br/>#}
{#                     Dallas,TX, 75252  <br/>#}
{#                     USA  <br/>#}
{#                  </p>#}
{#                  <p>#}
{#                     <t>Phone</t>#}
{#                     <br/>#}
{#                     +1-2147948730 <br/>#}
{#                  </p>#}
{#               </div>#}
{#               <div class="col-lg-3">#}
{#                  <p>#}
{#                     <sm>SOCIAL LINKS</sm>#}
{#                  </p>#}
{#                  <p>#}
{#                     <a href="https://github.com/kripanshu"><i class="icon-github"></i></a>#}
{#                     <a href="https://twitter.com/Kripanshubharga"><i class="icon-twitter"></i></a>#}
{#                     <a href="https://www.facebook.com/kripanshu.bhargava.5"><i class="icon-facebook"></i></a>#}
{#                     <a href="https://www.linkedin.com/in/kripanshubhargava/"><i class="icon-linkedin"></i></a>#}
{#                     <a href="https://plus.google.com/u/0/+Kripanshubhargava94"><i class="icon-google-plus"></i></a>#}
{#                  </p>#}
{#               </div>#}
{#            </div>#}
{#            <!--/.row -->#}
{#         </div>#}
{#         <!--/.container -->#}
{#      </div>#}
{#      <!--/ #footer -->#}
{#      <div id="c">#}
{#         <div class="container">#}
{#            <p>Created by <a href="https://www.linkedin.com/in/kripanshubhargava/">Kripanshu Bhargava</a></p>#}
{#         </div>#}
{#      </div>#}
{#      <!-- Bootstrap core JavaScript#}
{#         ================================================== -->#}
{#      <!-- Placed at the end of the document so the pages load faster -->#}
{#      <script src="{% static "js/bootstrap.js" %}"></script>#}
{#   </body>#}
{#</html>#}