{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
       <link rel="icon" type="image/png" href="{% static 'resume/images/Symbol.png' %}" />
      <link rel="shortcut icon" href="{% static "home/img/htc_icon.png" %}">
      <title>Hacks To Code</title>
      <!-- Bootstrap core CSS -->
      <link href="{% static "hacks-to-code/css/bootstrap.css" %}" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
      <script src="{% static "home/js/jquery.min.js" %}"></script>
      <script src="{% static "hacks-to-code/js/bootstrap.js" %}"></script>
      <script type="text/javascript" src="{% static "home/js/smoothscroll.js" %}"></script>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <![endif]-->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
   </head>
   <body>
    <nav class="navbar navbar-light bg-light">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul>
            <a href="#" style="font-family: 'Roboto', sans-serif; float: left; display: inline-block; margin-top: 1%; text-decoration:none;">
         <img src="{% static "home/img/htc_icon.png" %}" width="25px" height="25px" class="d-inline-block align-top" alt="">
         Hacks To Code
         </a>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not success_user %}
                 <a class="d-inline-block align-top" href="{% url 'view_write_my_blog' %}"><i class="material-icons" style="margin-left: 1%; margin-right: 1%;float: right" >create</i></a>
                <img class="img-circle" src="{% static "home/img/account.png" %}" alt="{% static "home/img/account.png" %}" style="height: 3%; width: 3%; float: right; margin-right: 1%;">
            {% elif  success_user %}
                <a class="d-inline-block align-top" href="{% url 'view_write_blog_details' %}"><i class="material-icons" style="margin-left: 1%; margin-right: 1%;float: right" >create</i></a>
            <img class="img-circle" src="{{ user_detail.profile_pic.url }}" style="height: 3%; width: 3%; float: right; margin-right: 1%;">
            {% endif %}

        </ul>
    </div>
    <!-- /.navbar-collapse -->

</nav>
{# Nav bar to be loaded with topics #}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">

                {% for topics_list in topics_list %}
                <li class="active"><a href="{% url 'view_homepage_blog_list' topics_list.topic_id %} ">{{ topics_list.name }} <span class="sr-only">(current)</span></a></li>
                    <li> | </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

 {% if success_topic %}
{% for blog_list in topics %}
<a href="{% url 'view_my_blog' blog_list.blog_id %}" style="text-decoration: none; color:black; ">
    <div class="card" style="margin: 3%; ">
        <div class="card-body">
            <table class="table" style="padding: 2%; ">
                <tbody>
                    <tr>
                        {% if blog_list.topic_image.url %}
                        <td style="width: 20%"><img class="rounded" style="margin-left:1%;width:60%; height: 60%" src="{{ blog_list.topic_image.url }}" alt="{% static "home/img/back.jpg" %}"></td>
                        {% else %}
                           <td style="width: 20%"><img class="rounded" style="margin-left:1%;width:40px; height: 40px" src="{% static "home/img/back.jpg" %}" alt="{% static "home/img/back.jpg" %}"></td>
                        {% endif %}
                        <td style="width: 90%">
                            <div class="card-body">
                                <h5 class="card-title">{{ blog_list.name }}</h5>
                                <p class="card-text">
                                    {{ blog_list.description }}
                                </p>
                                <p class="card-text"><small class="text-muted"> Last Updated on {{ blog_list.modified }}</small></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</a>
    {% endfor %}
    {% elif not success_topic %}
    <div class="container">
    <div class="card" style="margin: 3%; ">
        <div class="card-body">
            <p> No blogs listed for this topic</p>
        </div>
    </div>


    </div>
    {% endif %}

</body>
</html>