{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Kripanshu Blog</title>
  <!-- <meta name="description" content="The HTML5 Herald"> -->
  <!-- <meta name="author" content="SitePoint"> -->
    <link rel="icon" type="image/png" href="{% static 'resume/images/Symbol.png' %}" />
  <link rel="stylesheet" href="{% static 'hacks-to-code/css/style.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"> -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.0/plugins/codesample/css/prism.css">#}
</head>

<body>
    <!-- HEADER-->
    <div style="padding: 2%" class="container" >
        <div class="row" style="margin-left: 15%;">
             {% if user_data.name and blog_data %}
            <div class="jumbotron" id="header">
                <div class="column" style="width: 15%;">
                    <img src="{{ user_data.profile_pic.url }}" class="img-circle" alt="Profile Picture">
                </div>
                <div class="column" id="userDes">

                    <span class="user">{{ user_data.name }}</span>
                    <button class="followbtn"><img id="followimg" src="{% static 'hacks-to-code/img/Symbol.png' %}" alt="Follow" ></button>
                    <p class="description">
                        <i style="font-size: 4mm">{{ user_data.about_me }}</i><br />
                        <i style="font-size: 4mm; color: black;">{{ blog_data.modified }}</i>
                    </p>


                </div>
            </div>
            {% else %}
                  <div class="jumbotron" id="header">
                <div class="column" style="width: 15%;">
                    <img src="{%  static 'home/img/account.png' %}" class="img-circle" alt="Profile Picture">
                </div>
                <div class="column" id="userDes">
                     <span class="user">Anonymous</span>
                    <button class="followbtn"><img id="followimg" src="{% static 'hacks-to-code/img/Symbol.png' %}" alt="Follow" ></button>
                    <p class="description">
                        <i style="font-size: 4mm">--</i><br />
                        <i style="font-size: 4mm; color: black;">--</i>
                    </p>
                    {% endif %}
        </div>
            </div>

        </div>

        <div class="social-div">
            <ul>
                <li class="social" ><img id="social-img" src="{% static 'hacks-to-code/img/share-variant.png' %}" alt="Follow" ></li>
                <li class="social" ><a href="comment_here"><img id="social-img" src="{% static 'hacks-to-code/img/comment-processing.png' %}" alt="Follow" ></a></li>
                <li class="social" ><img id="social-img" src="{% static 'hacks-to-code/img/thumb-up-outline.png' %}" alt="Follow" ></li>
            </ul>
        </div>
        <div class="row" style="margin-left: 10%;">
            <div class="blog">
                <h2 id="heading" style="text-align:center;" >{{ topic_data.name}}</h2>
                <img src="{{ blog_data.blog_image.url }}" alt="blog picture" style="width: 80%; height: 20%; margin-left: 10%;">
                <br>
                <br>
                <br>
                    <div class="blogContent" style="width: 80%;margin-left: 10%;">
                    {{ blog_data.tinymce | safe }}
                     </div>
            <hr>
                <div class="blogTag" style="text-align: center">
                    <ul class="tag">
                        {% for item in tags %}
                        <li> {{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <img src="{% static 'hacks-to-code/img/flag.png' %}" alt="report" width="3%" height="3%"><span style="margin-left: 1%; font-size: 6mm;">Report</span>
        </div>

    </div>
    <hr>
    <div style="padding: 2%" class="container" id="comment_here">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Leave a comment!"></textarea>
        </div>
    </div>
  <script src="{%  static 'hacks-to-code/js/main.js' %}"></script>
  <script src="{% static "home/js/jquery.min.js" %}"></script>
      <script src="{% static "hacks-to-code/js/bootstrap.js" %}"></script>
	<link href="{% static "hacks-to-code/tinymce/styles/github.css" %}" rel="stylesheet">
<script src="{% static "hacks-to-code/tinymce/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>