{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
       <link rel="icon" type="image/png" href="{% static 'resume/images/Symbol.png' %}" />
      <link rel="shortcut icon" href="{% static "home/img/htc_icon.png" %}">
      <title>Hacks To Code</title>
      <!-- Bootstrap core CSS -->
      <link href="{% static "hacks-to-code/css/bootstrap.css" %}" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
      <script src="{% static "home/js/jquery.min.js" %}"></script>
      <script src="{% static "hacks-to-code/js/bootstrap.js" %}"></script>
      <script type="text/javascript" src="{% static "home/js/smoothscroll.js" %}"></script>
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.8.0/plugins/codesample/css/prism.css">#}

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <![endif]-->
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Blog Description Form</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul>
            <a href="{% url 'view_homepage'%}" style="font-family: 'Roboto', sans-serif; float: left; display: inline-block; margin-top: 1%; text-decoration:none;">
         <img src="{% static "home/img/htc_icon.png" %}" width="25px" height="25px" class="d-inline-block align-top" alt="">
         Hacks To Code
         </a>

        </ul>
    </div>
</nav>
<hr>
<div class="container">
<div class="card-section" style="width: 112rem;">
    <div class="card-body">
    {{ form.media }}
 <form  action=""  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
{#            {{ form.as_table }}#}
{#        <input class="btn btn-primary" type="submit" value="Submit" />#}



	<div class="form-group"> <!-- Full Name -->
		<label for="full_name_id" style="'font-family': 'Lato, sans-serif';color: #0D47A1" class="control-label">Name</label>
        {{ form.name }}
	</div>

	<div class="form-group"> <!-- Street 1 -->
		<label for="street1_id" style="'font-family': 'Lato, sans-serif';color: #0D47A1" class="control-label">Blog Topic</label>
		<option value="" disabled selected>Select topic for your blog</option>
        {{ form.topic_id }}
    </div>

	<div class="form-group"> <!-- Street 2 -->
		<label for="street2_id" style="'font-family': 'Lato, sans-serif';color: #0D47A1" class="control-label">Topic Image</label>
		{{ form.topic_image }}
    </div>

	<div class="form-group"> <!-- City-->
		<label for="city_id" style="'font-family': 'Lato, sans-serif';color: #0D47A1" class="control-label">User</label>
		<option value="" disabled selected>Select User</option>
        {{ form.user_id }}
	</div>

	<div class="form-group"> <!-- State Button -->
		<label for="state_id" style="'font-family': 'Lato, sans-serif';color: #0D47A1" class="control-label">Description</label>
		{{ form.description }}
	</div>
     <div class="form-group"> <!-- Zip Code-->
		<label for="image_blog" style="'font-family': 'Lato, sans-serif'; color: #0D47A1" class="control-label">Blog Image</label>
		{{ form.blog_image }}
	</div>
     <div class="form-group"> <!-- Zip Code-->
		<label for="tags" style="'font-family': 'Lato, sans-serif';color: #0D47A1" class="control-label">Tags</label>
		{{ form.tags }}
	</div>
     <div id='data-container' class="form-group"> <!-- Zip Code-->
		<label for="blog_tiny_mce" style="'font-family': 'Lato, sans-serif';color: #0D47A1" class="control-label">Blog</label>
		{{ form.tinymce }}
	</div>
	<div class="form-group"> <!-- Submit Button -->
		<input class="btn btn-primary" type="submit" value="Submit" />
	</div>
 </form>
    </div>
    </div>
    </div>
</body>
{#<script>#}
{#function myFunction() {#}
{##}
{#		var content = tinymce.get("texteditor").getContent({format:"raw"});#}
{#		console.log(content);#}
{#		$('#data-container').html(content)#}
{##}
{#	}#}
{#</script>#}
<link href="{% static "hacks-to-code/tinymce/styles/github.css" %}" rel="stylesheet">
<script src="{% static "hacks-to-code/tinymce/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
</html>